.button {
    background-image: linear-gradient(to right, $lightBlue, $blue);
    color: white;
    text-decoration: none;   
    display: inline-block;
    border: none;
    padding: .75rem 1.2rem;
    border-radius: 50px;

    &--picking {
        background-color: $light;
        background-image: none;
        color: $darkBlue;
        font-weight: 500;    
    }

    &--selected {
        background-color: $lightGreen;
        background-image: none;
    }

    &--broker {
        background-color: $darkBlue;
        background-image: none;
        border: 2px solid $greyBlue;
        color: white;
        font-weight: 600; 
    }
}