.site-header {
    &--top{
    background-color: $darkBlue;
    color: $grey;
    overflow: hidden;
    padding: 1rem 4rem;
    
        img {
            height: 3rem;
            margin-left: 4rem;
            float: left; 
        }

    
        &--btn-container {
            float: right;
            margin-right: 4%;
        }



        @mixin atSmall {
            .site-header--top {
                padding: 0.5rem 0.5rem;

                a {
                float: none;
                display: block;
                text-align: left;
                }
            }
        }
    }


    &--sub {
        background-color: $grey;
        overflow: hidden;
        padding: 1rem;
    }   
}