.site-header {
    &--top{
    background-color: $darkBlue;
    color: $grey;
    overflow: hidden;
    padding: 1rem 4rem;
      
        &--btn-container {
            float: right;
        }

        @mixin atSmall {
            .site-header--top {
                padding: 0.5rem 0.5rem;

                a {
                float: none;
                display: block;
                text-align: left;
                }
            }
        }
    }

    &--sub {
        background-color: $grey;
        overflow: hidden;
        padding: 1rem;
    }   
}