    .text-content {
        color: $silver;
        margin-bottom: 1rem;

        &--top-line {
            border-top: solid;
            border-color: $light;
            margin-top: 1.5rem;
            padding-top: 2rem;
        }
        &--callToAction {
            color: $lightGreen;
            font-weight: 600;
        }
        &--phoneNumber {
            color:$blue;
            font-weight: 600;
        }
        &--hours {
            font-size: 0.8rem;
            line-height: 0;
        }
    }
